Livrable 2/jobs/DIM_Localisation_Job.json
{"flowContents":{"identifier":"08048505-cf93-35fa-8792-a8b0816da00c","instanceIdentifier":"8e1018f3-3efb-1405-78a8-a9cb033880c9","name":"DIM_localiasation","comments":"","position":{"x":696.0,"y":1672.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","instanceIdentifier":"8e1018fe-3f41-1405-162a-30e432cd5c44","name":"LogAttribute","comments":"","position":{"x":-1112.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"2ff690fc-a00a-37b9-9542-dfbd290f8260","instanceIdentifier":"8e101903-3f41-1405-bfbd-15a9b4974565","name":"SplitText","comments":"","position":{"x":-3152.0,"y":-592.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"5000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"c4042c1a-2704-3952-8fd8-c78d159f921c","instanceIdentifier":"8e101904-3f41-1405-17e1-a48045ca089c","name":"QueryRecord","comments":"","position":{"x":-1792.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","distinctQuery":"SELECT DISTINCT \n  code_postal AS code_commune, \n  nom_de_la_commune AS nom_commune\nFROM FLOWFILE\n","record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","record-reader":"04cbf0cc-cf59-3a43-a04d-bc3acb45a323","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"distinctQuery":{"name":"distinctQuery","displayName":"distinctQuery","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"72b01407-55ec-3f45-a574-18d8ab3e3081","instanceIdentifier":"8e101905-3f41-1405-2f21-aa820f543907","name":"ReplaceText","comments":"","position":{"x":-640.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"INSERT INTO TABLE dim_localisation (\n    id_localisation, \n    code_region, \n    libelle, \n    region, \n    code_commune, \n    nom_commune\n)\nSELECT\n    '${code_commune}' AS id_localisation,\n    \n    -- code_region = code département\n    NULL AS code_region,\n    \n    NULL AS libelle,\n    \n    -- region en fonction du code département\n    CASE FLOOR(CAST('${code_commune}' AS INT) / 1000)\n      WHEN 01 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 02 THEN 'Hauts-de-France'\n      WHEN 03 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 04 THEN 'Provence-Alpes-Côte d’Azur'\n      WHEN 05 THEN 'Provence-Alpes-Côte d’Azur'\n      WHEN 06 THEN 'Provence-Alpes-Côte d’Azur'\n      WHEN 07 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 08 THEN 'Grand Est'\n      WHEN 09 THEN 'Occitanie'\n      WHEN 10 THEN 'Grand Est'\n      WHEN 11 THEN 'Occitanie'\n      WHEN 12 THEN 'Occitanie'\n      WHEN 13 THEN 'Provence-Alpes-Côte d’Azur'\n      WHEN 14 THEN 'Normandie'\n      WHEN 15 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 16 THEN 'Nouvelle-Aquitaine'\n      WHEN 17 THEN 'Nouvelle-Aquitaine'\n      WHEN 18 THEN 'Centre-Val de Loire'\n      WHEN 19 THEN 'Nouvelle-Aquitaine'\n      WHEN 2 THEN 'Corse'           -- simplifié pour 2A/2B\n      WHEN 21 THEN 'Bourgogne-Franche-Comté'\n      WHEN 22 THEN 'Bretagne'\n      WHEN 23 THEN 'Nouvelle-Aquitaine'\n      WHEN 24 THEN 'Nouvelle-Aquitaine'\n      WHEN 25 THEN 'Bourgogne-Franche-Comté'\n      WHEN 26 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 27 THEN 'Normandie'\n      WHEN 28 THEN 'Centre-Val de Loire'\n      WHEN 29 THEN 'Bretagne'\n      WHEN 30 THEN 'Occitanie'\n      WHEN 31 THEN 'Occitanie'\n      WHEN 32 THEN 'Occitanie'\n      WHEN 33 THEN 'Nouvelle-Aquitaine'\n      WHEN 34 THEN 'Occitanie'\n      WHEN 35 THEN 'Bretagne'\n      WHEN 36 THEN 'Centre-Val de Loire'\n      WHEN 37 THEN 'Centre-Val de Loire'\n      WHEN 38 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 39 THEN 'Bourgogne-Franche-Comté'\n      WHEN 40 THEN 'Nouvelle-Aquitaine'\n      WHEN 41 THEN 'Centre-Val de Loire'\n      WHEN 42 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 43 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 44 THEN 'Pays de la Loire'\n      WHEN 45 THEN 'Centre-Val de Loire'\n      WHEN 46 THEN 'Occitanie'\n      WHEN 47 THEN 'Nouvelle-Aquitaine'\n      WHEN 48 THEN 'Occitanie'\n      WHEN 49 THEN 'Pays de la Loire'\n      WHEN 50 THEN 'Normandie'\n      WHEN 51 THEN 'Grand Est'\n      WHEN 52 THEN 'Grand Est'\n      WHEN 53 THEN 'Pays de la Loire'\n      WHEN 54 THEN 'Grand Est'\n      WHEN 55 THEN 'Grand Est'\n      WHEN 56 THEN 'Bretagne'\n      WHEN 57 THEN 'Grand Est'\n      WHEN 58 THEN 'Bourgogne-Franche-Comté'\n      WHEN 59 THEN 'Hauts-de-France'\n      WHEN 60 THEN 'Hauts-de-France'\n      WHEN 61 THEN 'Normandie'\n      WHEN 62 THEN 'Hauts-de-France'\n      WHEN 63 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 64 THEN 'Nouvelle-Aquitaine'\n      WHEN 65 THEN 'Occitanie'\n      WHEN 66 THEN 'Occitanie'\n      WHEN 67 THEN 'Grand Est'\n      WHEN 68 THEN 'Grand Est'\n      WHEN 69 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 70 THEN 'Bourgogne-Franche-Comté'\n      WHEN 71 THEN 'Bourgogne-Franche-Comté'\n      WHEN 72 THEN 'Pays de la Loire'\n      WHEN 73 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 74 THEN 'Auvergne-Rhône-Alpes'\n      WHEN 75 THEN 'Île-de-France'\n      WHEN 76 THEN 'Normandie'\n      WHEN 77 THEN 'Île-de-France'\n      WHEN 78 THEN 'Île-de-France'\n      WHEN 79 THEN 'Nouvelle-Aquitaine'\n      WHEN 80 THEN 'Hauts-de-France'\n      WHEN 81 THEN 'Occitanie'\n      WHEN 82 THEN 'Occitanie'\n      WHEN 83 THEN 'Provence-Alpes-Côte d’Azur'\n      WHEN 84 THEN 'Provence-Alpes-Côte d’Azur'\n      WHEN 85 THEN 'Pays de la Loire'\n      WHEN 86 THEN 'Nouvelle-Aquitaine'\n      WHEN 87 THEN 'Nouvelle-Aquitaine'\n      WHEN 88 THEN 'Grand Est'\n      WHEN 89 THEN 'Bourgogne-Franche-Comté'\n      WHEN 90 THEN 'Bourgogne-Franche-Comté'\n      WHEN 91 THEN 'Île-de-France'\n      WHEN 92 THEN 'Île-de-France'\n      WHEN 93 THEN 'Île-de-France'\n      WHEN 94 THEN 'Île-de-France'\n      WHEN 95 THEN 'Île-de-France'\n      ELSE 'Autre Region'\n\tEND AS region,\n\n    \n    '${code_commune}' AS code_commune,\n    '${nom_commune}' AS nom_commune;\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"20 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"4481e212-b3ec-3756-8425-36f750d6b89f","instanceIdentifier":"8e101900-3f41-1405-626e-b726ac93602f","name":"ConvertRecord","comments":"","position":{"x":-1696.0,"y":-800.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","record-reader":"4a14b28e-7e1a-3465-9b6a-6298368aef3e","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","instanceIdentifier":"8e101902-3f41-1405-4351-d410135d2d4f","name":"EvaluateJsonPath","comments":"","position":{"x":-128.0,"y":-664.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"numero_acte_deces":"$.numero_acte_deces","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","nom_commune":"$.nom_commune","Null Value Representation":"empty string","code_commune":"$.code_commune","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"numero_acte_deces":{"name":"numero_acte_deces","displayName":"numero_acte_deces","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"nom_commune":{"name":"nom_commune","displayName":"nom_commune","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"code_commune":{"name":"code_commune","displayName":"code_commune","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","instanceIdentifier":"8e1018fc-3f41-1405-c997-36c9dbe43447","name":"SplitJson","comments":"","position":{"x":-640.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"efa80681-0fad-3a28-b447-7e3a7f98e1dd","instanceIdentifier":"8e1018fb-3f41-1405-3889-006a9a99b38d","name":"PutHiveQL","comments":"","position":{"x":-136.0,"y":-400.0},"type":"org.apache.nifi.processors.hive.PutHiveQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"951abd28-d345-3f86-9be2-571811ec2a69","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"bc5efdf0-75b1-3f23-acfb-9f4f54009273","instanceIdentifier":"8e101907-3f41-1405-edd2-28652320746f","name":"GetFile","comments":"","position":{"x":-3360.0,"y":-936.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/data/localisation","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"^locaInsee\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","instanceIdentifier":"8e1018ff-3f41-1405-274b-380239b19f0c","name":"ReplaceText","comments":"","position":{"x":-2592.0,"y":-816.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"\"","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"80 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"21e1b23b-0049-3e25-8af3-5440bac4bc64","instanceIdentifier":"8e101906-3f41-1405-6a40-aae0c3e29c3b","name":"ConvertAvroToJSON","comments":"","position":{"x":-1120.0,"y":-664.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.28.1"},"properties":{"JSON container options":"array","Wrap Single Record":"true","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7b25afbd-bc9e-338d-9635-95147d8f39fd","instanceIdentifier":"8e101910-3f41-1405-67be-3a490d101855","name":"","source":{"id":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"LogAttribute","comments":"","instanceIdentifier":"8e1018fe-3f41-1405-162a-30e432cd5c44"},"destination":{"id":"72b01407-55ec-3f45-a574-18d8ab3e3081","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ReplaceText","comments":"","instanceIdentifier":"8e101905-3f41-1405-2f21-aa820f543907"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"ecaf5b30-41ef-3f07-b951-af1167d803a3","instanceIdentifier":"8e101912-3f41-1405-0b23-85abe2d230fa","name":"","source":{"id":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"SplitJson","comments":"","instanceIdentifier":"8e1018fc-3f41-1405-c997-36c9dbe43447"},"destination":{"id":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8e101902-3f41-1405-4351-d410135d2d4f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"c38b75b5-13e9-39f3-b7ea-962de33a77b9","instanceIdentifier":"8e101913-3f41-1405-bcdb-158431d54122","name":"","source":{"id":"72b01407-55ec-3f45-a574-18d8ab3e3081","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ReplaceText","comments":"","instanceIdentifier":"8e101905-3f41-1405-2f21-aa820f543907"},"destination":{"id":"efa80681-0fad-3a28-b447-7e3a7f98e1dd","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"PutHiveQL","comments":"","instanceIdentifier":"8e1018fb-3f41-1405-3889-006a9a99b38d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"502d904f-1bc6-3711-b8f1-3298ad0e1910","instanceIdentifier":"8e101908-3f41-1405-7874-9e0f6395baac","name":"","source":{"id":"2ff690fc-a00a-37b9-9542-dfbd290f8260","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"SplitText","comments":"","instanceIdentifier":"8e101903-3f41-1405-bfbd-15a9b4974565"},"destination":{"id":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ReplaceText","comments":"","instanceIdentifier":"8e1018ff-3f41-1405-274b-380239b19f0c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"81eeb499-4285-3742-9466-55e5ae00a726","instanceIdentifier":"8e101911-3f41-1405-a1b2-c66d8dec4b5d","name":"","source":{"id":"4481e212-b3ec-3756-8425-36f750d6b89f","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ConvertRecord","comments":"","instanceIdentifier":"8e101900-3f41-1405-626e-b726ac93602f"},"destination":{"id":"c4042c1a-2704-3952-8fd8-c78d159f921c","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"QueryRecord","comments":"","instanceIdentifier":"8e101904-3f41-1405-17e1-a48045ca089c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"696d8e0e-7be6-32d3-8334-562abb5b61b3","instanceIdentifier":"8e10190f-3f41-1405-cb7b-017dbc8c3dfa","name":"","source":{"id":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ReplaceText","comments":"","instanceIdentifier":"8e1018ff-3f41-1405-274b-380239b19f0c"},"destination":{"id":"4481e212-b3ec-3756-8425-36f750d6b89f","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ConvertRecord","comments":"","instanceIdentifier":"8e101900-3f41-1405-626e-b726ac93602f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"fbcb6a4b-cdb7-3a4d-8467-a08c213a518c","instanceIdentifier":"34b94d97-019a-1000-a5e2-ff93c6e57dcb","name":"","source":{"id":"c4042c1a-2704-3952-8fd8-c78d159f921c","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"QueryRecord","comments":"","instanceIdentifier":"8e101904-3f41-1405-17e1-a48045ca089c"},"destination":{"id":"21e1b23b-0049-3e25-8af3-5440bac4bc64","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"8e101906-3f41-1405-6a40-aae0c3e29c3b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["distinctQuery"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"67ab0b23-503f-3314-a072-a51b5019778e","instanceIdentifier":"8e10190e-3f41-1405-1943-4d2ba4773c70","name":"","source":{"id":"bc5efdf0-75b1-3f23-acfb-9f4f54009273","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"GetFile","comments":"","instanceIdentifier":"8e101907-3f41-1405-edd2-28652320746f"},"destination":{"id":"2ff690fc-a00a-37b9-9542-dfbd290f8260","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"SplitText","comments":"","instanceIdentifier":"8e101903-3f41-1405-bfbd-15a9b4974565"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"62e368a2-e4ce-35a4-9e8d-ea73e0054f95","instanceIdentifier":"8e10190c-3f41-1405-e2dc-0619c8c128f3","name":"","source":{"id":"21e1b23b-0049-3e25-8af3-5440bac4bc64","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"8e101906-3f41-1405-6a40-aae0c3e29c3b"},"destination":{"id":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"SplitJson","comments":"","instanceIdentifier":"8e1018fc-3f41-1405-c997-36c9dbe43447"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"c95baf85-111f-3a3b-b39e-e7cb8d4769a9","instanceIdentifier":"8e10190d-3f41-1405-d2d2-49b048b33136","name":"","source":{"id":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8e101902-3f41-1405-4351-d410135d2d4f"},"destination":{"id":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","type":"PROCESSOR","groupId":"08048505-cf93-35fa-8792-a8b0816da00c","name":"LogAttribute","comments":"","instanceIdentifier":"8e1018fe-3f41-1405-162a-30e432cd5c44"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"}],"labels":[{"identifier":"2debfcaf-3c33-33ae-84de-f727fbf037ce","instanceIdentifier":"8e1018f6-3f41-1405-2bb0-f38c06f92526","position":{"x":-1968.0,"y":-896.0},"label":"Extract Tranform Load","zIndex":0,"width":736.0,"height":640.0,"style":{"background-color":"#e2ffd6","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"040ffe0b-43e0-38e0-90cd-355417af919d","instanceIdentifier":"8e1018f7-3f41-1405-0662-5b057c278399","position":{"x":-1744.0,"y":-840.0},"label":"Unicité des données","zIndex":0,"width":448.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"237a6eb2-6d92-32a0-a107-db96864d16b3","instanceIdentifier":"8e1018f5-3f41-1405-6a37-eda8e68f52b3","position":{"x":-1832.0,"y":-552.0},"label":"Vérification qualité ","zIndex":0,"width":400.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"0d8cf089-fc6a-3477-ac23-6c133070e2c6","instanceIdentifier":"8e1018f9-3f41-1405-6a5e-5de5bb1d3698","position":{"x":-3464.0,"y":-1024.0},"label":"Source Database: CSV","zIndex":0,"width":1440.0,"height":600.0,"style":{"background-color":"#ffd6d8","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"7450020e-b5fd-340e-9d2f-315e5a5b1e3a","instanceIdentifier":"8e1018fa-3f41-1405-a042-59288b65a4b8","position":{"x":-1192.0,"y":-768.0},"label":"Entrepôt de données (processus pour récupérer les données JSON et les envoyer en requête SQL)","zIndex":0,"width":1480.0,"height":592.0,"style":{"background-color":"#d6f6ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"}],"funnels":[],"controllerServices":[{"identifier":"951abd28-d345-3f86-9be2-571811ec2a69","instanceIdentifier":"351ce4ba-019a-1000-cbc8-1eca0f929886","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"kerberos-credentials-service":null,"Validation-query":"SELECT 1","Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://hiveserver2:10000/default","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/opt/nifi/nifi-current/conf/hive-site.xml","hive-max-wait-time":"500 millis","hive-db-user":"hive"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"4a14b28e-7e1a-3465-9b6a-6298368aef3e","instanceIdentifier":"35075bcd-019a-1000-682d-3f1f0cc75bcd","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"04cbf0cc-cf59-3a43-a04d-bc3acb45a323","instanceIdentifier":"3505f7b7-019a-1000-6f65-ffcc0007e1a1","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"},{"identifier":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","instanceIdentifier":"8e1018f3-3f41-1405-fd55-cee0ded5939f","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"08048505-cf93-35fa-8792-a8b0816da00c"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}