Livrable 2/jobs/DIM_Diagnostic_Job.json
{"flowContents":{"identifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","instanceIdentifier":"953f32c8-28a7-190f-a968-f14a4cfab796","name":"DIM_Diagnostic_Job","comments":"","position":{"x":696.0,"y":1432.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ae52b190-894b-3634-9415-78750a62093e","instanceIdentifier":"53a0fdd3-51b0-35e4-1314-9385ba8839f2","name":"ValidateRecord","comments":"","position":{"x":1152.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"${schema.name}","record-writer":"1562975f-ae2c-3ff7-b7c7-dc38a20e2fb0","invalid-record-writer":null,"schema-registry":null,"coerce-types":"false","validation-details-attribute-name":"/Age IS NOT NULL AND /Sexe = 'M' OR /Sexe = 'F' AND /Id_Patient IS NOT NULL","record-reader":"0c45f749-0215-3eb7-9f8d-acb1afa92114","maximum-validation-details-length":"1024","schema-access-strategy":"reader-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","invalid"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"12cb1572-b2c8-3d1a-8562-427890734668","instanceIdentifier":"953f32db-28a7-190f-d4d2-41474c03d86a","name":"UpdateRecord","comments":"","position":{"x":824.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"d1d0ab49-e7e0-31f3-9d3f-6b6036b46ac4","record-reader":"0328cfe7-ca1a-3b06-8d2d-13bdd109176f","replacement-value-strategy":"literal-value","/Diagnostic":"${field.value:toLower():replaceAll('[^a-z0-9\\\\s]', ''):trim()}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/Diagnostic":{"name":"/Diagnostic","displayName":"/Diagnostic","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","instanceIdentifier":"781ea4d4-6c4a-3700-66c5-fc645fc7548f","name":"ConvertAvroToJSON","comments":"","position":{"x":1776.0,"y":-120.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.28.1"},"properties":{"JSON container options":"array","Wrap Single Record":"true","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"28ba3355-79a5-3a71-bc66-646247ece368","instanceIdentifier":"c77c3be2-1299-3e43-faf0-3889aa3817ac","name":"ReplaceText","comments":"","position":{"x":3008.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"INSERT INTO dim_diagnostic (Code_diag, Diagnostic)\nVALUES ('${Code_diag}', '${Diagnostic}');","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"20 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"287853fb-ac28-3499-9209-bbd82e78ffa6","instanceIdentifier":"e81ec80f-85f4-33d0-c7f8-22b08ec4b7ea","name":"QueryRecord","comments":"","position":{"x":440.0,"y":160.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","distinctQuery":"SELECT DISTINCT \"Code_diag\", \"Diagnostic\" FROM FLOWFILE WHERE Code_diag IS NOT NULL AND Diagnostic IS NOT NULL","record-writer":"3bd455dc-f689-36e4-9628-c876b5af042e","record-reader":"cffdbbd2-0129-3f6d-b4ed-08114024e9cf","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"distinctQuery":{"name":"distinctQuery","displayName":"distinctQuery","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"0782bb79-75bb-34e4-addc-8b1b03b333f7","instanceIdentifier":"55955ae9-9eb6-3405-f15f-1fd4c51f638f","name":"GenerateTableFetch","comments":"","position":{"x":-216.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"public.\"Diagnostic\"","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"540e8930-a42e-34bb-9158-4347851a75ab","gen-table-fetch-partition-size":"10000","Columns to Return":"Code_diag, Diagnostic","Maximum-value Columns":null,"db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"87f78b5a-08bd-379f-805e-721bcffda61a","instanceIdentifier":"bef61aae-e4f7-339d-434d-7fc079c9c06e","name":"PutHiveQL","comments":"","position":{"x":3008.0,"y":304.0},"type":"org.apache.nifi.processors.hive.PutHiveQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"7249ddab-42a7-31f0-903b-448ac63e69d8","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"1e1407b9-ef11-32aa-99da-f7fc34d09a24","instanceIdentifier":"490f7c97-2bfb-38f1-326b-0b3c4505dbce","name":"ExecuteSQL","comments":"","position":{"x":-216.0,"y":160.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"96260ad4-0ce8-3f58-b4aa-e69fe07545e7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT \"Code_diag\", \"Diagnostic\" FROM public.\"Diagnostic\";","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"36a55baa-7089-3c61-ac2e-0460df83cc99","instanceIdentifier":"ef229729-cc72-33a7-af69-42c7f530a6c6","name":"EvaluateJsonPath","comments":"","position":{"x":2352.0,"y":304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Code_diag":"$.Code_diag","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Diagnostic":"$.Diagnostic","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Code_diag":{"name":"Code_diag","displayName":"Code_diag","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Diagnostic":{"name":"Diagnostic","displayName":"Diagnostic","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"c6743203-04f3-3b37-ae9f-b79169e514d3","instanceIdentifier":"ac99e5d5-11f4-3772-f39e-642103a0bb4e","name":"LogAttribute","comments":"","position":{"x":2352.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","instanceIdentifier":"7e0b5f30-8f02-37dd-d1e0-c4793c2f4de0","name":"SplitJson","comments":"","position":{"x":1768.0,"y":304.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1551fbdc-2ad4-3629-95a7-3a5e3f03c99c","instanceIdentifier":"0d82006b-6141-3af1-6d12-740c9b97bc16","name":"","source":{"id":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"781ea4d4-6c4a-3700-66c5-fc645fc7548f"},"destination":{"id":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"SplitJson","comments":"","instanceIdentifier":"7e0b5f30-8f02-37dd-d1e0-c4793c2f4de0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"4df6b427-6767-3213-9432-e7991f9fe283","instanceIdentifier":"dc3b9445-692e-3bcc-c044-470b0a472f5f","name":"","source":{"id":"36a55baa-7089-3c61-ac2e-0460df83cc99","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ef229729-cc72-33a7-af69-42c7f530a6c6"},"destination":{"id":"c6743203-04f3-3b37-ae9f-b79169e514d3","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"LogAttribute","comments":"","instanceIdentifier":"ac99e5d5-11f4-3772-f39e-642103a0bb4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"22cc82d3-0f47-3f3d-aa34-afd8c0842239","instanceIdentifier":"309dee4a-2911-3f0d-11c3-3e44d3519316","name":"Connection/FetchData","source":{"id":"0782bb79-75bb-34e4-addc-8b1b03b333f7","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"GenerateTableFetch","comments":"","instanceIdentifier":"55955ae9-9eb6-3405-f15f-1fd4c51f638f"},"destination":{"id":"1e1407b9-ef11-32aa-99da-f7fc34d09a24","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ExecuteSQL","comments":"","instanceIdentifier":"490f7c97-2bfb-38f1-326b-0b3c4505dbce"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"2d4b6bc2-8684-3ec6-9a4f-fe684f712c5f","instanceIdentifier":"953f32e0-28a7-190f-0fe2-e87ecb76a088","name":"","source":{"id":"12cb1572-b2c8-3d1a-8562-427890734668","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"UpdateRecord","comments":"","instanceIdentifier":"953f32db-28a7-190f-d4d2-41474c03d86a"},"destination":{"id":"ae52b190-894b-3634-9415-78750a62093e","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ValidateRecord","comments":"","instanceIdentifier":"53a0fdd3-51b0-35e4-1314-9385ba8839f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"a1b587b6-313a-3a2a-9503-35bff521dcf6","instanceIdentifier":"2d626408-db87-3afd-c8a0-3a4299703565","name":"","source":{"id":"28ba3355-79a5-3a71-bc66-646247ece368","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ReplaceText","comments":"","instanceIdentifier":"c77c3be2-1299-3e43-faf0-3889aa3817ac"},"destination":{"id":"87f78b5a-08bd-379f-805e-721bcffda61a","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"PutHiveQL","comments":"","instanceIdentifier":"bef61aae-e4f7-339d-434d-7fc079c9c06e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"285a7214-23b8-3e38-bbfa-cd3ebd0b34fa","instanceIdentifier":"685134d7-bd53-3cc0-5427-21a25d9ac9c5","name":"","source":{"id":"c6743203-04f3-3b37-ae9f-b79169e514d3","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"LogAttribute","comments":"","instanceIdentifier":"ac99e5d5-11f4-3772-f39e-642103a0bb4e"},"destination":{"id":"28ba3355-79a5-3a71-bc66-646247ece368","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ReplaceText","comments":"","instanceIdentifier":"c77c3be2-1299-3e43-faf0-3889aa3817ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"98f53378-b8ef-312f-bafe-7c9dcfeaeaed","instanceIdentifier":"953f32df-28a7-190f-b8a6-e42fb040e300","name":"","source":{"id":"287853fb-ac28-3499-9209-bbd82e78ffa6","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"QueryRecord","comments":"","instanceIdentifier":"e81ec80f-85f4-33d0-c7f8-22b08ec4b7ea"},"destination":{"id":"12cb1572-b2c8-3d1a-8562-427890734668","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"UpdateRecord","comments":"","instanceIdentifier":"953f32db-28a7-190f-d4d2-41474c03d86a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["distinctQuery"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"8a9e990d-b5e4-332e-a2cf-3a951299b915","instanceIdentifier":"160ebc6b-c52c-3b32-1455-5310ab097f9b","name":"","source":{"id":"1e1407b9-ef11-32aa-99da-f7fc34d09a24","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ExecuteSQL","comments":"","instanceIdentifier":"490f7c97-2bfb-38f1-326b-0b3c4505dbce"},"destination":{"id":"287853fb-ac28-3499-9209-bbd82e78ffa6","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"QueryRecord","comments":"","instanceIdentifier":"e81ec80f-85f4-33d0-c7f8-22b08ec4b7ea"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"1bdcf64a-31e9-33f0-82cd-aaeee4c86a0e","instanceIdentifier":"625bb17f-5dcc-35cf-f12b-d7f13110f435","name":"","source":{"id":"ae52b190-894b-3634-9415-78750a62093e","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ValidateRecord","comments":"","instanceIdentifier":"53a0fdd3-51b0-35e4-1314-9385ba8839f2"},"destination":{"id":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"781ea4d4-6c4a-3700-66c5-fc645fc7548f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"d2be5718-12ae-3b3e-8461-6e2b5ff4d38c","instanceIdentifier":"86aeb421-dd25-3133-b28a-dc946e2186e4","name":"","source":{"id":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"SplitJson","comments":"","instanceIdentifier":"7e0b5f30-8f02-37dd-d1e0-c4793c2f4de0"},"destination":{"id":"36a55baa-7089-3c61-ac2e-0460df83cc99","type":"PROCESSOR","groupId":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ef229729-cc72-33a7-af69-42c7f530a6c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"}],"labels":[{"identifier":"88ca0c72-fcc0-3a43-a06c-9d59c9778ec4","instanceIdentifier":"953f32e2-28a7-190f-3048-6de75a9db233","position":{"x":449.0,"y":153.0},"label":"Unicité des données","zIndex":0,"width":448.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"15ddd46c-019a-1000-d278-43cfafe096f8","instanceIdentifier":"5b3dc237-b13f-3b18-a32d-9732090c805f","position":{"x":416.0,"y":120.0},"label":"Unicité des données","zIndex":3,"width":448.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"0b3fa439-d803-3695-ac1b-c844a62ade1c","instanceIdentifier":"84b9cb16-eecb-39a5-b27f-ba04d1cf49a1","position":{"x":360.0,"y":-240.0},"label":"Extract Tranform Load","zIndex":1,"width":1200.0,"height":632.0,"style":{"background-color":"#e2ffd6","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"15f06180-019a-1000-6a48-8ccc0783ee00","instanceIdentifier":"22fb37fb-7d8d-3701-7c5d-53549991cc7d","position":{"x":1128.0,"y":128.0},"label":"Vérification qualité ","zIndex":2,"width":400.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"725c8235-e58d-3e5b-83f3-d5600ac42064","instanceIdentifier":"11040e8a-30ab-3b70-9a29-9a5bc45d7eb0","position":{"x":1656.0,"y":-256.0},"label":"Entrepôt de données (processus pour récupérer les données JSON et les envoyer en requête SQL)","zIndex":0,"width":1768.0,"height":736.0,"style":{"background-color":"#d6f6ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"15e13873-019a-1000-9895-6b2c897bfaa5","instanceIdentifier":"c6150af0-806d-3305-84f5-ab85bb7071cd","position":{"x":-328.0,"y":-128.0},"label":"Source Database: Postgresql","zIndex":1,"width":648.0,"height":504.0,"style":{"background-color":"#ffd6d8","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"14d1fdb1-97d4-39b3-867e-7ae3636623cd","instanceIdentifier":"953f32e4-28a7-190f-c4ce-455d9ec90d1a","position":{"x":784.0,"y":-224.0},"label":"Normalisation","zIndex":4,"width":424.0,"height":176.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"}],"funnels":[],"controllerServices":[{"identifier":"96260ad4-0ce8-3f58-b4aa-e69fe07545e7","instanceIdentifier":"59afc648-ccf7-3b61-f135-cf4805bfd7f4","name":"DBCPConnectionPool_ExcetureSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres-source:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/ext/postgresql-42.2.9.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"c595b64c-3b7d-33e7-9806-d6276bfb4e0e","instanceIdentifier":"cb0e2438-761b-385d-9009-df0e2ea79e09","name":"AvroRecordSetWriter_3","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"d1d0ab49-e7e0-31f3-9d3f-6b6036b46ac4","instanceIdentifier":"28733887-ffa6-3e3b-1bf6-678573138a5d","name":"AvroRecordSetWriter_2","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"b499d574-b2c6-36b8-91b8-035829c44287","instanceIdentifier":"9fe6682c-44d2-3792-8dff-6d4786458fb1","name":"JsonRecordSetWriter_1","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"0c45f749-0215-3eb7-9f8d-acb1afa92114","instanceIdentifier":"c7f97d72-f871-394d-9646-764ec91af715","name":"AvroReader_ValidateRecord","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"464ebf29-5963-3a65-8235-451b14e471b2","instanceIdentifier":"9a80dd31-1427-34c4-260b-ef46d6600d16","name":"JsonTreeReader_1","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"cffdbbd2-0129-3f6d-b4ed-08114024e9cf","instanceIdentifier":"13e04642-47d7-3100-25a1-392a02b86b5e","name":"AvroReader_1","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"0328cfe7-ca1a-3b06-8d2d-13bdd109176f","instanceIdentifier":"ac879107-3e18-33de-16ee-98c2e681bdb0","name":"AvroReader_2","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"540e8930-a42e-34bb-9158-4347851a75ab","instanceIdentifier":"22a82c11-d6e6-32ff-f385-c1021665f7b5","name":"DBCPConnectionPool_GenerateTableFetch","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres-source:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/ext/postgresql-42.2.9.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"43491b96-9c0a-33d6-81df-6454e57f9e5c","instanceIdentifier":"6d03125d-9767-3436-c182-c3df3b30a08b","name":"AvroReader_3","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"7249ddab-42a7-31f0-903b-448ac63e69d8","instanceIdentifier":"0411574c-654c-3d0f-b91f-09bf87f1a413","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"kerberos-credentials-service":null,"Validation-query":"SELECT 1","Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://hiveserver2:10000/default","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/opt/nifi/nifi-current/conf/hive-site.xml","hive-max-wait-time":"5000 millis","hive-db-user":"hive"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"1562975f-ae2c-3ff7-b7c7-dc38a20e2fb0","instanceIdentifier":"0a17d4db-f578-324e-9a86-d7fa0423cd05","name":"AvroRecordSetWriter_ValidateRecord","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"},{"identifier":"3bd455dc-f689-36e4-9628-c876b5af042e","instanceIdentifier":"4c093cdd-5ea6-3365-7712-561124a7844c","name":"AvroRecordSetWriter_1","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"458486e8-ed1b-3c4a-990a-a2c98fd0edf1"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}