Livrable 2/jobs/DIM_PATIENT_Job.json
{"flowContents":{"identifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","instanceIdentifier":"3071f337-019a-1000-a26a-766e4c415619","name":"DIM_PATIENT_Job","comments":"","position":{"x":704.0,"y":-24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ae52b190-894b-3634-9415-78750a62093e","instanceIdentifier":"ca077d69-f5d0-35e1-5d48-69959c89bf21","name":"ValidateRecord","comments":"","position":{"x":1168.0,"y":432.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"${schema.name}","record-writer":"1562975f-ae2c-3ff7-b7c7-dc38a20e2fb0","invalid-record-writer":null,"schema-registry":null,"coerce-types":"false","validation-details-attribute-name":"/Age IS NOT NULL AND /Sexe = 'M' OR /Sexe = 'F' AND /Id_Patient IS NOT NULL","record-reader":"0c45f749-0215-3eb7-9f8d-acb1afa92114","maximum-validation-details-length":"1024","schema-access-strategy":"reader-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","invalid"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","instanceIdentifier":"0c9b15d7-e4df-39de-0bef-bf5aea72ec10","name":"ConvertAvroToJSON","comments":"","position":{"x":1800.0,"y":120.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.28.1"},"properties":{"JSON container options":"array","Wrap Single Record":"true","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"28ba3355-79a5-3a71-bc66-646247ece368","instanceIdentifier":"1fc2d799-8805-38ee-e738-105b07bd36df","name":"ReplaceText","comments":"","position":{"x":3416.0,"y":96.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"INSERT INTO dim_patient (Id_patient, Sexe, Age)\nVALUES ('${Id_patient}', '${Sexe}', '${Age}');","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"20 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"0782bb79-75bb-34e4-addc-8b1b03b333f7","instanceIdentifier":"445a09c1-a370-3eae-a308-ca24c5051667","name":"GenerateTableFetch","comments":"","position":{"x":-400.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"public.\"Patient\"","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"540e8930-a42e-34bb-9158-4347851a75ab","gen-table-fetch-partition-size":"10000","Columns to Return":"Id_patient, Age, Sexe","Maximum-value Columns":null,"db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"287853fb-ac28-3499-9209-bbd82e78ffa6","instanceIdentifier":"fa63c9b8-1394-34f3-4b83-4b8b10961ada","name":"QueryRecord","comments":"","position":{"x":440.0,"y":160.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","distinctQuery":"SELECT DISTINCT \"Id_patient\",\"Sexe\",\"Age\" FROM FLOWFILE WHERE \"Id_patient\" IS NOT NULL\n  AND \"Sexe\" IS NOT NULL\n  AND \"Age\" IS NOT NULL","record-writer":"3bd455dc-f689-36e4-9628-c876b5af042e","record-reader":"cffdbbd2-0129-3f6d-b4ed-08114024e9cf","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"distinctQuery":{"name":"distinctQuery","displayName":"distinctQuery","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"87f78b5a-08bd-379f-805e-721bcffda61a","instanceIdentifier":"c98bdc36-0706-3a7b-7e2f-300c237b54e0","name":"PutHiveQL","comments":"","position":{"x":3416.0,"y":408.0},"type":"org.apache.nifi.processors.hive.PutHiveQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"7249ddab-42a7-31f0-903b-448ac63e69d8","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"96e9f009-95d6-38e9-9b87-b991341a0832","instanceIdentifier":"bc35127d-ee79-328b-5e8a-de26519fe3bf","name":"UpdateRecord","comments":"","position":{"x":1168.0,"y":160.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"/Sexe":"${field.value:toUpper():substring(0,1)}","/Age":"${field.value:toNumber()}","record-writer":"d1d0ab49-e7e0-31f3-9d3f-6b6036b46ac4","record-reader":"0328cfe7-ca1a-3b06-8d2d-13bdd109176f","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/Sexe":{"name":"/Sexe","displayName":"/Sexe","identifiesControllerService":false,"sensitive":false},"/Age":{"name":"/Age","displayName":"/Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"1e1407b9-ef11-32aa-99da-f7fc34d09a24","instanceIdentifier":"5898b7b7-d80d-3ca0-de72-de2e6d50e399","name":"ExecuteSQL","comments":"","position":{"x":-400.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"96260ad4-0ce8-3f58-b4aa-e69fe07545e7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT \"Id_patient\", \"Sexe\", \"Age\" \nFROM public.\"Patient\";","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"36a55baa-7089-3c61-ac2e-0460df83cc99","instanceIdentifier":"42d5d4ff-7db1-31a6-364a-4f3d194d3561","name":"EvaluateJsonPath","comments":"","position":{"x":3056.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Destination":"flowfile-attribute","Id_patient":"$.Id_patient","Max String Length":"20 MB","Return Type":"json","Sexe":"$.Sexe","Null Value Representation":"empty string","Age":"$.Age","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Id_patient":{"name":"Id_patient","displayName":"Id_patient","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Sexe":{"name":"Sexe","displayName":"Sexe","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Age":{"name":"Age","displayName":"Age","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","instanceIdentifier":"63d247c4-0b22-3d01-6ce5-84956c933850","name":"SplitJson","comments":"","position":{"x":2480.0,"y":120.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"c6743203-04f3-3b37-ae9f-b79169e514d3","instanceIdentifier":"f7e24c48-d360-39ee-d5be-75c5cd14d8f9","name":"LogAttribute","comments":"","position":{"x":3736.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1551fbdc-2ad4-3629-95a7-3a5e3f03c99c","instanceIdentifier":"eb8cb5fe-8924-35e9-338f-b0380c34edcf","name":"","source":{"id":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"0c9b15d7-e4df-39de-0bef-bf5aea72ec10"},"destination":{"id":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"SplitJson","comments":"","instanceIdentifier":"63d247c4-0b22-3d01-6ce5-84956c933850"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"4df6b427-6767-3213-9432-e7991f9fe283","instanceIdentifier":"861b1102-6092-3345-7809-7e073d63230d","name":"","source":{"id":"36a55baa-7089-3c61-ac2e-0460df83cc99","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"42d5d4ff-7db1-31a6-364a-4f3d194d3561"},"destination":{"id":"c6743203-04f3-3b37-ae9f-b79169e514d3","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"LogAttribute","comments":"","instanceIdentifier":"f7e24c48-d360-39ee-d5be-75c5cd14d8f9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"22cc82d3-0f47-3f3d-aa34-afd8c0842239","instanceIdentifier":"eb6b0a25-0fa1-36f0-e65e-a224f36c5174","name":"Connection/FetchData","source":{"id":"0782bb79-75bb-34e4-addc-8b1b03b333f7","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"GenerateTableFetch","comments":"","instanceIdentifier":"445a09c1-a370-3eae-a308-ca24c5051667"},"destination":{"id":"1e1407b9-ef11-32aa-99da-f7fc34d09a24","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ExecuteSQL","comments":"","instanceIdentifier":"5898b7b7-d80d-3ca0-de72-de2e6d50e399"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"805c31cd-8937-3719-aa89-b87c32664eb6","instanceIdentifier":"542cd1b2-e736-33da-0bf5-edda84bc57f7","name":"","source":{"id":"287853fb-ac28-3499-9209-bbd82e78ffa6","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"QueryRecord","comments":"","instanceIdentifier":"fa63c9b8-1394-34f3-4b83-4b8b10961ada"},"destination":{"id":"96e9f009-95d6-38e9-9b87-b991341a0832","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"UpdateRecord","comments":"","instanceIdentifier":"bc35127d-ee79-328b-5e8a-de26519fe3bf"},"labelIndex":0,"zIndex":4,"selectedRelationships":["distinctQuery"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"285a7214-23b8-3e38-bbfa-cd3ebd0b34fa","instanceIdentifier":"78f38e10-7405-3ef1-7ba2-43830496cbd3","name":"","source":{"id":"c6743203-04f3-3b37-ae9f-b79169e514d3","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"LogAttribute","comments":"","instanceIdentifier":"f7e24c48-d360-39ee-d5be-75c5cd14d8f9"},"destination":{"id":"28ba3355-79a5-3a71-bc66-646247ece368","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ReplaceText","comments":"","instanceIdentifier":"1fc2d799-8805-38ee-e738-105b07bd36df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"a1b587b6-313a-3a2a-9503-35bff521dcf6","instanceIdentifier":"47bc9b2e-62ff-3135-c45c-7b663f283ca6","name":"","source":{"id":"28ba3355-79a5-3a71-bc66-646247ece368","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ReplaceText","comments":"","instanceIdentifier":"1fc2d799-8805-38ee-e738-105b07bd36df"},"destination":{"id":"87f78b5a-08bd-379f-805e-721bcffda61a","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"PutHiveQL","comments":"","instanceIdentifier":"c98bdc36-0706-3a7b-7e2f-300c237b54e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"61e4ee4e-29d0-3f36-86b6-58f4593d8e9a","instanceIdentifier":"1763418a-fab2-3e9e-8ca4-fdff38e4c4fd","name":"","source":{"id":"96e9f009-95d6-38e9-9b87-b991341a0832","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"UpdateRecord","comments":"","instanceIdentifier":"bc35127d-ee79-328b-5e8a-de26519fe3bf"},"destination":{"id":"ae52b190-894b-3634-9415-78750a62093e","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ValidateRecord","comments":"","instanceIdentifier":"ca077d69-f5d0-35e1-5d48-69959c89bf21"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"8a9e990d-b5e4-332e-a2cf-3a951299b915","instanceIdentifier":"5144304e-8b00-3b7c-4bc0-9c426322786b","name":"","source":{"id":"1e1407b9-ef11-32aa-99da-f7fc34d09a24","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ExecuteSQL","comments":"","instanceIdentifier":"5898b7b7-d80d-3ca0-de72-de2e6d50e399"},"destination":{"id":"287853fb-ac28-3499-9209-bbd82e78ffa6","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"QueryRecord","comments":"","instanceIdentifier":"fa63c9b8-1394-34f3-4b83-4b8b10961ada"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"1bdcf64a-31e9-33f0-82cd-aaeee4c86a0e","instanceIdentifier":"bf0bec08-96d9-340a-68a0-0541b023b8c5","name":"","source":{"id":"ae52b190-894b-3634-9415-78750a62093e","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ValidateRecord","comments":"","instanceIdentifier":"ca077d69-f5d0-35e1-5d48-69959c89bf21"},"destination":{"id":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"0c9b15d7-e4df-39de-0bef-bf5aea72ec10"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"d2be5718-12ae-3b3e-8461-6e2b5ff4d38c","instanceIdentifier":"27d7c49d-ce9c-3ef1-923f-129161d16398","name":"","source":{"id":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"SplitJson","comments":"","instanceIdentifier":"63d247c4-0b22-3d01-6ce5-84956c933850"},"destination":{"id":"36a55baa-7089-3c61-ac2e-0460df83cc99","type":"PROCESSOR","groupId":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"42d5d4ff-7db1-31a6-364a-4f3d194d3561"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"}],"labels":[{"identifier":"15ddd46c-019a-1000-d278-43cfafe096f8","instanceIdentifier":"50aae499-469c-3883-0d54-100bdf78c798","position":{"x":424.0,"y":128.0},"label":"Unicité des données","zIndex":4,"width":448.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"0b3fa439-d803-3695-ac1b-c844a62ade1c","instanceIdentifier":"53f39cf0-04c0-38b8-c064-6edb0fce0398","position":{"x":320.0,"y":80.0},"label":"Extract Tranform Load","zIndex":1,"width":1304.0,"height":528.0,"style":{"background-color":"#e2ffd6","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"15f06180-019a-1000-6a48-8ccc0783ee00","instanceIdentifier":"dff2ea19-0456-3ce0-cf5c-4fa2b9e6ac66","position":{"x":1136.0,"y":392.0},"label":"Vérification qualité ","zIndex":2,"width":400.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"725c8235-e58d-3e5b-83f3-d5600ac42064","instanceIdentifier":"156f761f-b649-3665-af6c-f992288fb5ec","position":{"x":1632.0,"y":-272.0},"label":"Entrepôt de données (processus pour récupérer les données JSON et les envoyer en requête SQL)","zIndex":0,"width":2488.0,"height":880.0,"style":{"background-color":"#d6f6ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"15ebfd24-019a-1000-e25a-442ef5abacae","instanceIdentifier":"5317c02a-5ddb-3e65-43fe-4d89e16b84bd","position":{"x":1152.0,"y":128.0},"label":"Normalisation ","zIndex":3,"width":392.0,"height":184.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"15e13873-019a-1000-9895-6b2c897bfaa5","instanceIdentifier":"656ea1c0-b074-3ea3-1cfd-898109674d41","position":{"x":-520.0,"y":-120.0},"label":"Source Database: Postgresql","zIndex":1,"width":640.0,"height":472.0,"style":{"background-color":"#ffd6d8","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"}],"funnels":[],"controllerServices":[{"identifier":"96260ad4-0ce8-3f58-b4aa-e69fe07545e7","instanceIdentifier":"975fb7bf-9564-3479-e5df-12c23f2eff81","name":"DBCPConnectionPool_ExcetureSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres-source:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/ext/postgresql-42.2.9.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"c595b64c-3b7d-33e7-9806-d6276bfb4e0e","instanceIdentifier":"9af8d743-ccce-364c-86fc-07513c93e805","name":"AvroRecordSetWriter_3","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"b499d574-b2c6-36b8-91b8-035829c44287","instanceIdentifier":"3da4075f-2fd8-343d-1326-863b83cbfe75","name":"JsonRecordSetWriter_1","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"d1d0ab49-e7e0-31f3-9d3f-6b6036b46ac4","instanceIdentifier":"f50ebc7e-ea37-3a88-54a7-5836e45561e9","name":"AvroRecordSetWriter_2","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"0c45f749-0215-3eb7-9f8d-acb1afa92114","instanceIdentifier":"5dcab6fc-85b3-32e7-9c47-f4f33eb9ccff","name":"AvroReader_ValidateRecord","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"464ebf29-5963-3a65-8235-451b14e471b2","instanceIdentifier":"7c8e6b18-21e3-38bf-bdc9-a64ed51feef9","name":"JsonTreeReader_1","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"cffdbbd2-0129-3f6d-b4ed-08114024e9cf","instanceIdentifier":"10857f13-798c-3ea3-4dc9-4fd027033673","name":"AvroReader_1","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"0328cfe7-ca1a-3b06-8d2d-13bdd109176f","instanceIdentifier":"795d0e8f-b099-33d4-2fbc-88d0d7621d07","name":"AvroReader_2","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"540e8930-a42e-34bb-9158-4347851a75ab","instanceIdentifier":"fd09a5a3-7bed-3751-44da-2c0283a0082c","name":"DBCPConnectionPool_GenerateTableFetch","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres-source:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/ext/postgresql-42.2.9.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"43491b96-9c0a-33d6-81df-6454e57f9e5c","instanceIdentifier":"ec317a33-cb0a-38d5-8279-a94f6741020b","name":"AvroReader_3","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"7249ddab-42a7-31f0-903b-448ac63e69d8","instanceIdentifier":"03393e50-751b-3db9-f105-13e0fc586b11","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"kerberos-credentials-service":null,"Validation-query":"SELECT 1","Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://hiveserver2:10000/default","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/opt/nifi/nifi-current/conf/hive-site.xml","hive-max-wait-time":"5000 millis","hive-db-user":"hive"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"1562975f-ae2c-3ff7-b7c7-dc38a20e2fb0","instanceIdentifier":"6df71447-0388-3ff5-0fb6-c79b1333ebb3","name":"AvroRecordSetWriter_ValidateRecord","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"},{"identifier":"3bd455dc-f689-36e4-9628-c876b5af042e","instanceIdentifier":"7f21bdf5-ae25-32af-f9d5-e373adcdb27d","name":"AvroRecordSetWriter_1","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4de3f2d7-4a91-3b9d-bea4-b3af961e15db"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}