Livrable 2/jobs/FAIT_Deces_Job.json
{"flowContents":{"identifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","instanceIdentifier":"74053efb-8e10-18f3-5d06-190d151768ef","name":"FAIT_DECES","comments":"","position":{"x":704.0,"y":440.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","instanceIdentifier":"8bbe3430-117a-16de-cb99-ac5327fc4752","name":"LogAttribute","comments":"","position":{"x":-1088.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"c4042c1a-2704-3952-8fd8-c78d159f921c","instanceIdentifier":"8bbe3432-117a-16de-eaf6-149b80997694","name":"QueryRecord","comments":"","position":{"x":-1088.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","distinctQuery":"SELECT DISTINCT\n  numero_acte_deces AS id_deces,\n  code_lieu_deces AS code_lieu_deces,\n  CAST(SUBSTRING(date_deces, 1, 4) AS INTEGER) AS annee_deces,\n  CAST(SUBSTRING(date_deces, 6, 2) AS INTEGER) AS mois_deces,\n  date_naissance AS date_naissance\nFROM FLOWFILE\nWHERE\n  numero_acte_deces IS NOT NULL\n  AND code_lieu_deces IS NOT NULL\n  AND date_deces IS NOT NULL\n  AND date_naissance IS NOT NULL\n","record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","record-reader":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"distinctQuery":{"name":"distinctQuery","displayName":"distinctQuery","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"72b01407-55ec-3f45-a574-18d8ab3e3081","instanceIdentifier":"953f32b6-28a7-190f-7f47-abafed1bf037","name":"ReplaceText","comments":"","position":{"x":-592.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"INSERT INTO TABLE FAIT_DECES (id_deces, date_naissance, id_lieu, id_temps, annee_deces)\nVALUES ('${numero_acte_deces}', '${date_naissance}', '${code_lieu_deces}', concat('${annee_deces}', '${mois_deces}'), '${annee_deces}');","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"20 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","instanceIdentifier":"953f32b7-28a7-190f-1e2f-64715b966396","name":"EvaluateJsonPath","comments":"","position":{"x":-88.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"numero_acte_deces":"$.numero_acte_deces","Destination":"flowfile-attribute","code_lieu_deces":"$.code_lieu_deces","Max String Length":"20 MB","annee_deces":"$.annee_deces","Return Type":"json","Null Value Representation":"empty string","mois_deces":"$.mois_deces","age":"$.age","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"numero_acte_deces":{"name":"numero_acte_deces","displayName":"numero_acte_deces","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"code_lieu_deces":{"name":"code_lieu_deces","displayName":"code_lieu_deces","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"annee_deces":{"name":"annee_deces","displayName":"annee_deces","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"mois_deces":{"name":"mois_deces","displayName":"mois_deces","identifiesControllerService":false,"sensitive":false},"age":{"name":"age","displayName":"age","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","instanceIdentifier":"953f32b8-28a7-190f-c40a-6287806e2a2d","name":"SplitJson","comments":"","position":{"x":-600.0,"y":-664.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"bc5efdf0-75b1-3f23-acfb-9f4f54009273","instanceIdentifier":"8e1018f3-3f3a-1405-6acf-684ef362b70a","name":"GetFile","comments":"","position":{"x":-1616.0,"y":-1112.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/data/deces_france","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"^deces\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","instanceIdentifier":"8e1018f3-3f52-1405-7396-ab1bc1da392a","name":"ReplaceText","comments":"","position":{"x":-624.0,"y":-1120.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"\"","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"80 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"21e1b23b-0049-3e25-8af3-5440bac4bc64","instanceIdentifier":"953f32b9-28a7-190f-fe86-217a38f9e2dd","name":"ConvertAvroToJSON","comments":"","position":{"x":-1088.0,"y":-656.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.28.1"},"properties":{"JSON container options":"array","Wrap Single Record":"true","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"2ff690fc-a00a-37b9-9542-dfbd290f8260","instanceIdentifier":"8e1018f3-3f5a-1405-8e3c-21fc611643e0","name":"SplitText","comments":"","position":{"x":-1080.0,"y":-1120.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"5000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"ac2bd640-8c0e-300e-a1fc-64b8437db227","instanceIdentifier":"953f32ba-28a7-190f-0edf-b97916120fca","name":"UpdateRecord","comments":"","position":{"x":-616.0,"y":-920.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","/Mois_deces":"${field.value:trim()}","record-reader":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","/Date_naissance":"${field.value:trim()}","replacement-value-strategy":"literal-value","/Numero_acte_deces":"${field.value:trim()}","/Code_lieu_deces":"${field.value:trim()}","/Annee_deces":"${field.value:trim()}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/Mois_deces":{"name":"/Mois_deces","displayName":"/Mois_deces","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/Date_naissance":{"name":"/Date_naissance","displayName":"/Date_naissance","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/Numero_acte_deces":{"name":"/Numero_acte_deces","displayName":"/Numero_acte_deces","identifiesControllerService":false,"sensitive":false},"/Code_lieu_deces":{"name":"/Code_lieu_deces","displayName":"/Code_lieu_deces","identifiesControllerService":false,"sensitive":false},"/Annee_deces":{"name":"/Annee_deces","displayName":"/Annee_deces","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"4481e212-b3ec-3756-8425-36f750d6b89f","instanceIdentifier":"8e1018f3-3f4a-1405-cb35-e3c8bd3dc3e1","name":"ConvertRecord","comments":"","position":{"x":-152.0,"y":-1128.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","record-reader":"49d0a02e-ef92-3ddc-82df-aacb8c468f46","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"c0afd8eb-d4c8-387e-b60f-7594b47dadbd","instanceIdentifier":"6819301c-2549-1899-e0c5-4645595a0d1c","name":"ValidateRecord","comments":"","position":{"x":-152.0,"y":-920.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"${schema.name}","record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","invalid-record-writer":null,"schema-registry":null,"coerce-types":"false","validation-details-attribute-name":"/Numero_acte_deces IS NOT NULL\n  AND /Age IS NOT NULL\n  AND /Mois_deces IS NOT NULL AND /Code_lieu_deces IS NOT NULL\n  AND /Anne_deces IS NOT NULL;\n","record-reader":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","maximum-validation-details-length":"1024","schema-access-strategy":"reader-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","invalid"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"efa80681-0fad-3a28-b447-7e3a7f98e1dd","instanceIdentifier":"8bbe3431-117a-16de-38a9-eb913d960d87","name":"PutHiveQL","comments":"","position":{"x":-80.0,"y":-464.0},"type":"org.apache.nifi.processors.hive.PutHiveQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"f01bc7dd-0095-33bd-ae21-0d2546f2b71a","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7b25afbd-bc9e-338d-9635-95147d8f39fd","instanceIdentifier":"953f32c6-28a7-190f-01a0-d128cfc5058e","name":"","source":{"id":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"LogAttribute","comments":"","instanceIdentifier":"8bbe3430-117a-16de-cb99-ac5327fc4752"},"destination":{"id":"72b01407-55ec-3f45-a574-18d8ab3e3081","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ReplaceText","comments":"","instanceIdentifier":"953f32b6-28a7-190f-7f47-abafed1bf037"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"ecaf5b30-41ef-3f07-b951-af1167d803a3","instanceIdentifier":"953f32c4-28a7-190f-7433-45d18bf89618","name":"","source":{"id":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"SplitJson","comments":"","instanceIdentifier":"953f32b8-28a7-190f-c40a-6287806e2a2d"},"destination":{"id":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"953f32b7-28a7-190f-1e2f-64715b966396"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"502d904f-1bc6-3711-b8f1-3298ad0e1910","instanceIdentifier":"953f32c2-28a7-190f-6379-657a4d337396","name":"","source":{"id":"2ff690fc-a00a-37b9-9542-dfbd290f8260","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"SplitText","comments":"","instanceIdentifier":"8e1018f3-3f5a-1405-8e3c-21fc611643e0"},"destination":{"id":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ReplaceText","comments":"","instanceIdentifier":"8e1018f3-3f52-1405-7396-ab1bc1da392a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"c38b75b5-13e9-39f3-b7ea-962de33a77b9","instanceIdentifier":"953f32bc-28a7-190f-1918-15dbba01f69a","name":"","source":{"id":"72b01407-55ec-3f45-a574-18d8ab3e3081","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ReplaceText","comments":"","instanceIdentifier":"953f32b6-28a7-190f-7f47-abafed1bf037"},"destination":{"id":"efa80681-0fad-3a28-b447-7e3a7f98e1dd","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"PutHiveQL","comments":"","instanceIdentifier":"8bbe3431-117a-16de-38a9-eb913d960d87"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"696d8e0e-7be6-32d3-8334-562abb5b61b3","instanceIdentifier":"953f32c3-28a7-190f-fde5-265d13ea25bc","name":"","source":{"id":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ReplaceText","comments":"","instanceIdentifier":"8e1018f3-3f52-1405-7396-ab1bc1da392a"},"destination":{"id":"4481e212-b3ec-3756-8425-36f750d6b89f","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ConvertRecord","comments":"","instanceIdentifier":"8e1018f3-3f4a-1405-cb35-e3c8bd3dc3e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"dddc14e9-c45c-388b-b346-090fe3f669b9","instanceIdentifier":"953f32be-28a7-190f-adc9-6de2a7ae3ef2","name":"","source":{"id":"ac2bd640-8c0e-300e-a1fc-64b8437db227","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"UpdateRecord","comments":"","instanceIdentifier":"953f32ba-28a7-190f-0edf-b97916120fca"},"destination":{"id":"c0afd8eb-d4c8-387e-b60f-7594b47dadbd","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ValidateRecord","comments":"","instanceIdentifier":"6819301c-2549-1899-e0c5-4645595a0d1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"62e368a2-e4ce-35a4-9e8d-ea73e0054f95","instanceIdentifier":"953f32bd-28a7-190f-836f-635c6ba1ec16","name":"","source":{"id":"21e1b23b-0049-3e25-8af3-5440bac4bc64","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"953f32b9-28a7-190f-fe86-217a38f9e2dd"},"destination":{"id":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"SplitJson","comments":"","instanceIdentifier":"953f32b8-28a7-190f-c40a-6287806e2a2d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"81eeb499-4285-3742-9466-55e5ae00a726","instanceIdentifier":"953f32c1-28a7-190f-a1a8-5a7afe8e2904","name":"","source":{"id":"4481e212-b3ec-3756-8425-36f750d6b89f","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ConvertRecord","comments":"","instanceIdentifier":"8e1018f3-3f4a-1405-cb35-e3c8bd3dc3e1"},"destination":{"id":"c4042c1a-2704-3952-8fd8-c78d159f921c","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"QueryRecord","comments":"","instanceIdentifier":"8bbe3432-117a-16de-eaf6-149b80997694"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"574c013f-5618-361b-8c4a-b565b8ae4ccd","instanceIdentifier":"953f32c5-28a7-190f-0742-3637c4ee916a","name":"","source":{"id":"c4042c1a-2704-3952-8fd8-c78d159f921c","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"QueryRecord","comments":"","instanceIdentifier":"8bbe3432-117a-16de-eaf6-149b80997694"},"destination":{"id":"ac2bd640-8c0e-300e-a1fc-64b8437db227","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"UpdateRecord","comments":"","instanceIdentifier":"953f32ba-28a7-190f-0edf-b97916120fca"},"labelIndex":1,"zIndex":0,"selectedRelationships":["distinctQuery"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"a3e27c14-6ed9-37f1-a69c-6987dcb60c11","instanceIdentifier":"953f32bb-28a7-190f-8963-cb01b86ed85e","name":"","source":{"id":"c0afd8eb-d4c8-387e-b60f-7594b47dadbd","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ValidateRecord","comments":"","instanceIdentifier":"6819301c-2549-1899-e0c5-4645595a0d1c"},"destination":{"id":"21e1b23b-0049-3e25-8af3-5440bac4bc64","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"953f32b9-28a7-190f-fe86-217a38f9e2dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"67ab0b23-503f-3314-a072-a51b5019778e","instanceIdentifier":"953f32c0-28a7-190f-6c46-b473ce83b1d6","name":"","source":{"id":"bc5efdf0-75b1-3f23-acfb-9f4f54009273","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"GetFile","comments":"","instanceIdentifier":"8e1018f3-3f3a-1405-6acf-684ef362b70a"},"destination":{"id":"2ff690fc-a00a-37b9-9542-dfbd290f8260","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"SplitText","comments":"","instanceIdentifier":"8e1018f3-3f5a-1405-8e3c-21fc611643e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"c95baf85-111f-3a3b-b39e-e7cb8d4769a9","instanceIdentifier":"953f32bf-28a7-190f-4c6b-3d535bb0b67b","name":"","source":{"id":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"953f32b7-28a7-190f-1e2f-64715b966396"},"destination":{"id":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","type":"PROCESSOR","groupId":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85","name":"LogAttribute","comments":"","instanceIdentifier":"8bbe3430-117a-16de-cb99-ac5327fc4752"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"}],"labels":[{"identifier":"2debfcaf-3c33-33ae-84de-f727fbf037ce","instanceIdentifier":"8bbe342c-117a-16de-976b-926e9a4022bb","position":{"x":-1168.0,"y":-1184.0},"label":"Extract Tranform Load","zIndex":0,"width":1472.0,"height":432.0,"style":{"background-color":"#e2ffd6","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"040ffe0b-43e0-38e0-90cd-355417af919d","instanceIdentifier":"8bbe342d-117a-16de-680e-59f9afe4834d","position":{"x":-168.0,"y":-1152.0},"label":"Unicité des données","zIndex":0,"width":392.0,"height":176.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"4f67d459-4b0e-3575-bdad-4e6799f9bdad","instanceIdentifier":"ff24358b-97d9-16a7-9526-1acd2774e8f6","position":{"x":-640.0,"y":-952.0},"label":"Normalisation ","zIndex":2,"width":392.0,"height":184.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"237a6eb2-6d92-32a0-a107-db96864d16b3","instanceIdentifier":"8e1f31df-45de-14f1-c33a-a55137bfd6c5","position":{"x":-176.0,"y":-960.0},"label":"Vérification qualité ","zIndex":1,"width":400.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"0d8cf089-fc6a-3477-ac23-6c133070e2c6","instanceIdentifier":"8bbe342f-117a-16de-323f-fef3b2800ec2","position":{"x":-1808.0,"y":-1192.0},"label":"Source Database: CSV","zIndex":0,"width":600.0,"height":248.0,"style":{"background-color":"#ffd6d8","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"7450020e-b5fd-340e-9d2f-315e5a5b1e3a","instanceIdentifier":"8bbe342e-117a-16de-2053-202c45cea5d4","position":{"x":-1184.0,"y":-736.0},"label":"Entrepôt de données (processus pour récupérer les données JSON et les envoyer en requête SQL)","zIndex":0,"width":1488.0,"height":440.0,"style":{"background-color":"#d6f6ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"}],"funnels":[],"controllerServices":[{"identifier":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","instanceIdentifier":"3511dec3-019a-1000-397c-ef1c0c2d5b30","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"49d0a02e-ef92-3ddc-82df-aacb8c468f46","instanceIdentifier":"74053f40-8e10-18f3-d78a-321e29fa49b1","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","instanceIdentifier":"74053f41-8e10-18f3-dfe6-5fdf3bb1d2ac","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"},{"identifier":"f01bc7dd-0095-33bd-ae21-0d2546f2b71a","instanceIdentifier":"be581a78-3769-199a-976a-1253d5be4cb9","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"kerberos-credentials-service":null,"Validation-query":"SELECT 1","Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://hiveserver2:10000/default","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/opt/nifi/nifi-current/conf/hive-site.xml","hive-max-wait-time":"500 millis","hive-db-user":"hive"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b99aa1d-1c6b-30b4-8b19-6be4441fde85"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}