Livrable 2/jobs/FAIT_Hospitalisation_Job.json
{"flowContents":{"identifier":"9612499e-15df-3e94-9a6b-2c12c251226d","instanceIdentifier":"3296c2bd-019a-1000-614a-bd8197b12d51","name":"FAIT_HOSPITALISATION_Job_","comments":"","position":{"x":704.0,"y":960.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"48516bfb-264f-3870-967e-4910f26206e8","instanceIdentifier":"6d5a0451-0a93-3e3b-b121-26986046d353","name":"ReplaceText","comments":"","position":{"x":-1040.0,"y":192.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"\"","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"80 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"ae52b190-894b-3634-9415-78750a62093e","instanceIdentifier":"f2ae5e00-b91a-37d1-6cbe-ec70dd8eb2b1","name":"ValidateRecord","comments":"","position":{"x":1592.0,"y":392.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"${schema.name}","record-writer":"1562975f-ae2c-3ff7-b7c7-dc38a20e2fb0","invalid-record-writer":null,"schema-registry":null,"coerce-types":"false","validation-details-attribute-name":"/Num_Hospitalisation IS NOT NULL\nAND /Id_patient IS NOT NULL\nAND /identifiant_organisation IS NOT NULL\nAND /Code_diag IS NOT NULL\nAND /Temps_ID IS NOT NULL\nAND /Localisation_ID IS NOT NULL","record-reader":"0c45f749-0215-3eb7-9f8d-acb1afa92114","maximum-validation-details-length":"1024","schema-access-strategy":"reader-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","invalid"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"287853fb-ac28-3499-9209-bbd82e78ffa6","instanceIdentifier":"69427ce6-e86c-38a7-10dc-dc52d1b3c542","name":"QueryRecord","comments":"","position":{"x":456.0,"y":440.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","distinctQuery":"SELECT DISTINCT\n  num_hospitalisation,\n  id_patient,\n  identifiant_organisation,\n  code_diagnostic,\n  suite_diagnostic_consultation,\n  year(date_entree) as annee, month(date_entree) as mois\n  jour_hospitalisation\nFROM FLOWFILE\nWHERE Id_patient IS NOT NULL\n  AND identifiant_organisation IS NOT NULL\n  AND code_diagnostic IS NOT NULL","record-writer":"3bd455dc-f689-36e4-9628-c876b5af042e","record-reader":"cffdbbd2-0129-3f6d-b4ed-08114024e9cf","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"distinctQuery":{"name":"distinctQuery","displayName":"distinctQuery","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"96e9f009-95d6-38e9-9b87-b991341a0832","instanceIdentifier":"50d3b9d2-3eb8-3483-87d6-e0a01496e0bf","name":"UpdateRecord","comments":"","position":{"x":968.0,"y":440.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"/Mois":"${field.value:trim()}","/identifiant_organisation":"${field.value:trim()}","/Code_diagnostic":"${field.value:trim()}","/Suite_diagnostic_consultation":"${field.value:trim()}","record-writer":"d1d0ab49-e7e0-31f3-9d3f-6b6036b46ac4","/Num_Hospitalisation":"${field.value:trim()}","/Annee":"${field.value:trim()}","record-reader":"0328cfe7-ca1a-3b06-8d2d-13bdd109176f","replacement-value-strategy":"literal-value","/Id_patient":"${field.value:trim()}"},"propertyDescriptors":{"/Mois":{"name":"/Mois","displayName":"/Mois","identifiesControllerService":false,"sensitive":false},"/identifiant_organisation":{"name":"/identifiant_organisation","displayName":"/identifiant_organisation","identifiesControllerService":false,"sensitive":false},"/Code_diagnostic":{"name":"/Code_diagnostic","displayName":"/Code_diagnostic","identifiesControllerService":false,"sensitive":false},"/Suite_diagnostic_consultation":{"name":"/Suite_diagnostic_consultation","displayName":"/Suite_diagnostic_consultation","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/Num_Hospitalisation":{"name":"/Num_Hospitalisation","displayName":"/Num_Hospitalisation","identifiesControllerService":false,"sensitive":false},"/Annee":{"name":"/Annee","displayName":"/Annee","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/Id_patient":{"name":"/Id_patient","displayName":"/Id_patient","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"d7d7241a-ee44-363b-8e4c-8ca4eef0987b","instanceIdentifier":"a96aaed2-d25b-3531-6496-791b0c7746a3","name":"GetFile","comments":"","position":{"x":424.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/data/hospitalisation","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"^hospitalisations\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"c6743203-04f3-3b37-ae9f-b79169e514d3","instanceIdentifier":"b249fba3-df7c-3dda-11e5-da8c9e0caf28","name":"LogAttribute","comments":"","position":{"x":3736.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"8026cc8c-0ad0-363e-aaeb-c77d8605ca5d","instanceIdentifier":"aa105f7f-5c29-379c-a472-6e995d767952","name":"SplitText","comments":"","position":{"x":344.0,"y":192.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"5000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"3af24ec9-4380-3073-9798-df5b0f7f7f11","instanceIdentifier":"2bd0ec21-0db2-3892-3fdb-ba6fc121d796","name":"ConvertRecord","comments":"","position":{"x":736.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"3bd455dc-f689-36e4-9628-c876b5af042e","record-reader":"ec7436c6-c0dc-3c4e-af75-23f3fe369c7e","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","instanceIdentifier":"36f1021d-5e9b-35d4-c69c-600c31182223","name":"ConvertAvroToJSON","comments":"","position":{"x":1616.0,"y":128.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.28.1"},"properties":{"JSON container options":"array","Wrap Single Record":"true","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"28ba3355-79a5-3a71-bc66-646247ece368","instanceIdentifier":"b2f1414d-3598-3e24-91f9-f3669af7c15a","name":"ReplaceText","comments":"","position":{"x":3640.0,"y":160.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"INSERT INTO fait_hospitalisation (\n    num_Hospitalisation,\n    id_patient,\n    identifiant_organisation,\n    code_diag,\n    temps_ID,\n)\nVALUES (\n    '${num_Hospitalisation}',\n    '${id_patient}',\n    '${identifiant_organisation}',\n    '${code_diag}',\n    '${annee}' + '${mois}'\n);\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"20 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"87f78b5a-08bd-379f-805e-721bcffda61a","instanceIdentifier":"01094707-4728-335d-3d6f-71e31c51f31e","name":"PutHiveQL","comments":"","position":{"x":3416.0,"y":408.0},"type":"org.apache.nifi.processors.hive.PutHiveQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"7249ddab-42a7-31f0-903b-448ac63e69d8","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"36a55baa-7089-3c61-ac2e-0460df83cc99","instanceIdentifier":"ec31d2d2-8bfc-375c-42e9-970005a160b2","name":"EvaluateJsonPath","comments":"","position":{"x":3056.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Code_diag":"$.Code_diag","Destination":"flowfile-attribute","Num_Hospitalisation":"$.Num_Hospitalisation","Id_patient":"$.Id_patient","Temps_ID":"$.Temps_ID","Max String Length":"20 MB","Return Type":"json","Localisation_ID":"$.Localisation_ID","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","identifiant_organisation":"$.identifiant_organisation"},"propertyDescriptors":{"Code_diag":{"name":"Code_diag","displayName":"Code_diag","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Num_Hospitalisation":{"name":"Num_Hospitalisation","displayName":"Num_Hospitalisation","identifiesControllerService":false,"sensitive":false},"Id_patient":{"name":"Id_patient","displayName":"Id_patient","identifiesControllerService":false,"sensitive":false},"Temps_ID":{"name":"Temps_ID","displayName":"Temps_ID","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Localisation_ID":{"name":"Localisation_ID","displayName":"Localisation_ID","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"identifiant_organisation":{"name":"identifiant_organisation","displayName":"identifiant_organisation","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","instanceIdentifier":"ce1c7993-aa70-3a13-8214-b5f4ddbd845e","name":"SplitJson","comments":"","position":{"x":2480.0,"y":120.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"98efad68-d211-3c23-aa1b-3ed42af6dd32","instanceIdentifier":"b82c1fbd-9bb2-34ed-c097-efc882b5b23b","name":"","source":{"id":"3af24ec9-4380-3073-9798-df5b0f7f7f11","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ConvertRecord","comments":"","instanceIdentifier":"2bd0ec21-0db2-3892-3fdb-ba6fc121d796"},"destination":{"id":"287853fb-ac28-3499-9209-bbd82e78ffa6","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"QueryRecord","comments":"","instanceIdentifier":"69427ce6-e86c-38a7-10dc-dc52d1b3c542"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"df6a090d-ef8f-3fb2-a92e-39df381e6b47","instanceIdentifier":"e6874650-f132-3dbf-fce3-183a5670c7af","name":"","source":{"id":"d7d7241a-ee44-363b-8e4c-8ca4eef0987b","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"GetFile","comments":"","instanceIdentifier":"a96aaed2-d25b-3531-6496-791b0c7746a3"},"destination":{"id":"8026cc8c-0ad0-363e-aaeb-c77d8605ca5d","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"SplitText","comments":"","instanceIdentifier":"aa105f7f-5c29-379c-a472-6e995d767952"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"1551fbdc-2ad4-3629-95a7-3a5e3f03c99c","instanceIdentifier":"752c14bc-8c4c-3d66-0bd9-877723e86d92","name":"","source":{"id":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"36f1021d-5e9b-35d4-c69c-600c31182223"},"destination":{"id":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"SplitJson","comments":"","instanceIdentifier":"ce1c7993-aa70-3a13-8214-b5f4ddbd845e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"4df6b427-6767-3213-9432-e7991f9fe283","instanceIdentifier":"6a12be66-e208-3e0c-6ea6-eec408a23e32","name":"","source":{"id":"36a55baa-7089-3c61-ac2e-0460df83cc99","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ec31d2d2-8bfc-375c-42e9-970005a160b2"},"destination":{"id":"c6743203-04f3-3b37-ae9f-b79169e514d3","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"LogAttribute","comments":"","instanceIdentifier":"b249fba3-df7c-3dda-11e5-da8c9e0caf28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"8e31ee1a-efc0-3e99-9105-0f0707a9c920","instanceIdentifier":"795c9caa-90c8-3249-aede-bb22689ad6ba","name":"","source":{"id":"8026cc8c-0ad0-363e-aaeb-c77d8605ca5d","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"SplitText","comments":"","instanceIdentifier":"aa105f7f-5c29-379c-a472-6e995d767952"},"destination":{"id":"3af24ec9-4380-3073-9798-df5b0f7f7f11","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ConvertRecord","comments":"","instanceIdentifier":"2bd0ec21-0db2-3892-3fdb-ba6fc121d796"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"805c31cd-8937-3719-aa89-b87c32664eb6","instanceIdentifier":"0fb15d09-9658-3833-cec9-d105b1c7ca81","name":"","source":{"id":"287853fb-ac28-3499-9209-bbd82e78ffa6","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"QueryRecord","comments":"","instanceIdentifier":"69427ce6-e86c-38a7-10dc-dc52d1b3c542"},"destination":{"id":"96e9f009-95d6-38e9-9b87-b991341a0832","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"UpdateRecord","comments":"","instanceIdentifier":"50d3b9d2-3eb8-3483-87d6-e0a01496e0bf"},"labelIndex":0,"zIndex":4,"selectedRelationships":["distinctQuery"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"285a7214-23b8-3e38-bbfa-cd3ebd0b34fa","instanceIdentifier":"8fdc56c1-81c8-3cc6-1386-15d13ffd3120","name":"","source":{"id":"c6743203-04f3-3b37-ae9f-b79169e514d3","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"LogAttribute","comments":"","instanceIdentifier":"b249fba3-df7c-3dda-11e5-da8c9e0caf28"},"destination":{"id":"28ba3355-79a5-3a71-bc66-646247ece368","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ReplaceText","comments":"","instanceIdentifier":"b2f1414d-3598-3e24-91f9-f3669af7c15a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"61e4ee4e-29d0-3f36-86b6-58f4593d8e9a","instanceIdentifier":"c75aa912-7bb5-33f7-3a63-873bb774cacf","name":"","source":{"id":"96e9f009-95d6-38e9-9b87-b991341a0832","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"UpdateRecord","comments":"","instanceIdentifier":"50d3b9d2-3eb8-3483-87d6-e0a01496e0bf"},"destination":{"id":"ae52b190-894b-3634-9415-78750a62093e","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ValidateRecord","comments":"","instanceIdentifier":"f2ae5e00-b91a-37d1-6cbe-ec70dd8eb2b1"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"1bdcf64a-31e9-33f0-82cd-aaeee4c86a0e","instanceIdentifier":"2ae41e15-598d-378f-8d61-aa37a181d141","name":"","source":{"id":"ae52b190-894b-3634-9415-78750a62093e","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ValidateRecord","comments":"","instanceIdentifier":"f2ae5e00-b91a-37d1-6cbe-ec70dd8eb2b1"},"destination":{"id":"96f8cde4-4b10-33da-8f58-0a8b5e76750b","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"36f1021d-5e9b-35d4-c69c-600c31182223"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"d2be5718-12ae-3b3e-8461-6e2b5ff4d38c","instanceIdentifier":"3843cfb7-19b8-3c7a-1b37-84122db444c7","name":"","source":{"id":"79b4f669-6be8-3f5b-9134-7cfb1bd58dbc","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"SplitJson","comments":"","instanceIdentifier":"ce1c7993-aa70-3a13-8214-b5f4ddbd845e"},"destination":{"id":"36a55baa-7089-3c61-ac2e-0460df83cc99","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ec31d2d2-8bfc-375c-42e9-970005a160b2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"e694e017-9b67-3129-bcfe-3e9134eca138","instanceIdentifier":"80868a37-3374-3309-11e4-b9b9f790a114","name":"","source":{"id":"28ba3355-79a5-3a71-bc66-646247ece368","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"ReplaceText","comments":"","instanceIdentifier":"b2f1414d-3598-3e24-91f9-f3669af7c15a"},"destination":{"id":"87f78b5a-08bd-379f-805e-721bcffda61a","type":"PROCESSOR","groupId":"9612499e-15df-3e94-9a6b-2c12c251226d","name":"PutHiveQL","comments":"","instanceIdentifier":"01094707-4728-335d-3d6f-71e31c51f31e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"}],"labels":[{"identifier":"15ddd46c-019a-1000-d278-43cfafe096f8","instanceIdentifier":"9b33960c-185f-3886-c5f2-5dbf1e85cb46","position":{"x":392.0,"y":408.0},"label":"Unicité des données","zIndex":4,"width":448.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"0b3fa439-d803-3695-ac1b-c844a62ade1c","instanceIdentifier":"06c92632-5b2d-398a-4697-33a67ea9a363","position":{"x":280.0,"y":72.0},"label":"Extract Tranform Load","zIndex":1,"width":1856.0,"height":560.0,"style":{"background-color":"#e2ffd6","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"15f06180-019a-1000-6a48-8ccc0783ee00","instanceIdentifier":"0d5b877d-eec2-3ec5-4765-c5ecc416b5f0","position":{"x":1592.0,"y":368.0},"label":"Vérification qualité ","zIndex":2,"width":400.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"15ebfd24-019a-1000-e25a-442ef5abacae","instanceIdentifier":"bd601fa7-983b-3943-8a2f-873484e5e7d9","position":{"x":944.0,"y":416.0},"label":"Normalisation ","zIndex":3,"width":392.0,"height":184.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"725c8235-e58d-3e5b-83f3-d5600ac42064","instanceIdentifier":"2e548a94-3889-349b-21f4-1dfa17679399","position":{"x":2344.0,"y":-248.0},"label":"Entrepôt de données (processus pour récupérer les données JSON et les envoyer en requête SQL)","zIndex":0,"width":1856.0,"height":848.0,"style":{"background-color":"#d6f6ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"15e13873-019a-1000-9895-6b2c897bfaa5","instanceIdentifier":"cb1973de-994f-31dc-f276-b144becbb37c","position":{"x":400.0,"y":-304.0},"label":"Source Database: CSV","zIndex":1,"width":464.0,"height":208.0,"style":{"background-color":"#ffd6d8","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"}],"funnels":[],"controllerServices":[{"identifier":"96260ad4-0ce8-3f58-b4aa-e69fe07545e7","instanceIdentifier":"c8dee504-d17c-3002-75d2-254b9ee29bc1","name":"DBCPConnectionPool_ExcetureSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres-source:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/ext/postgresql-42.2.9.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"b499d574-b2c6-36b8-91b8-035829c44287","instanceIdentifier":"c94ee6ea-01a3-3f24-6a36-e312f9004ef3","name":"JsonRecordSetWriter_1","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"d1d0ab49-e7e0-31f3-9d3f-6b6036b46ac4","instanceIdentifier":"4a25c28b-2306-3e5f-1955-f3f74a3fc3b2","name":"AvroRecordSetWriter_2","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"c595b64c-3b7d-33e7-9806-d6276bfb4e0e","instanceIdentifier":"0f9bbf59-160c-35ba-ec1e-6df1ede24180","name":"AvroRecordSetWriter_3","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"0c45f749-0215-3eb7-9f8d-acb1afa92114","instanceIdentifier":"df71397d-d1c6-3984-ada0-22bff45e6039","name":"AvroReader_ValidateRecord","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"464ebf29-5963-3a65-8235-451b14e471b2","instanceIdentifier":"a73f041e-2549-3ee6-812d-9c8bce033956","name":"JsonTreeReader_1","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"cffdbbd2-0129-3f6d-b4ed-08114024e9cf","instanceIdentifier":"86ed1e98-68aa-35f0-680d-c6d4814692de","name":"AvroReader_1","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"0328cfe7-ca1a-3b06-8d2d-13bdd109176f","instanceIdentifier":"f6d8b27d-375d-32dc-13ca-2cd535a50a6d","name":"AvroReader_2","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"540e8930-a42e-34bb-9158-4347851a75ab","instanceIdentifier":"22ed7c92-c7ec-33df-2541-c5042a2110ad","name":"DBCPConnectionPool_GenerateTableFetch","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres-source:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/ext/postgresql-42.2.9.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"43491b96-9c0a-33d6-81df-6454e57f9e5c","instanceIdentifier":"7840d351-0d5e-3e52-c2a8-5408bf6c4d61","name":"AvroReader_3","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"7249ddab-42a7-31f0-903b-448ac63e69d8","instanceIdentifier":"c22dbd0d-c98a-35a1-fd8e-80e285c1b59d","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"kerberos-credentials-service":null,"Validation-query":"SELECT 1","Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://hiveserver2:10000/default","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/opt/nifi/nifi-current/conf/hive-site.xml","hive-max-wait-time":"5000 millis","hive-db-user":"hive"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"1562975f-ae2c-3ff7-b7c7-dc38a20e2fb0","instanceIdentifier":"d2afbd38-781e-3933-3de9-4ad80ff9bab1","name":"AvroRecordSetWriter_ValidateRecord","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"ec7436c6-c0dc-3c4e-af75-23f3fe369c7e","instanceIdentifier":"8c511756-87e2-3c6d-37a1-29375d40175b","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"false","Value Separator":";","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"},{"identifier":"3bd455dc-f689-36e4-9628-c876b5af042e","instanceIdentifier":"ef9cff62-6d3f-3cf3-58e0-eb23d3047e07","name":"AvroRecordSetWriter_1","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9612499e-15df-3e94-9a6b-2c12c251226d"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}