Livrable 2/jobs/FAIT_Satisfaction_Job.json
{"flowContents":{"identifier":"26a6311a-6258-317a-b212-482abd693120","instanceIdentifier":"be581a7e-3769-199a-5155-da395fba20be","name":"FAIT_SATISFACTION","comments":"","position":{"x":696.0,"y":2192.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","instanceIdentifier":"be581a8c-3769-199a-4b5a-d5bbf7c59c2a","name":"LogAttribute","comments":"","position":{"x":756.8166449526839,"y":-619.4005068390327},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"c4042c1a-2704-3952-8fd8-c78d159f921c","instanceIdentifier":"be581a92-3769-199a-8846-5cb2848d5ef9","name":"QueryRecord","comments":"","position":{"x":-2704.0,"y":-512.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","distinctQuery":"SELECT DISTINCT\nfiness, taux_reco_brut AS taux\nFROM FLOWFILE\n","record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","record-reader":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"distinctQuery":{"name":"distinctQuery","displayName":"distinctQuery","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"72b01407-55ec-3f45-a574-18d8ab3e3081","instanceIdentifier":"be581a93-3769-199a-7680-01f7ebafbac7","name":"ReplaceText","comments":"","position":{"x":660.8166449526839,"y":-291.4005068390327},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"INSERT INTO TABLE FAIT_SATISFACTION (id_etabliseement, taux_satisfaction)\nVALUES ('${finess}', '${taux}');","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"20 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"755d70f7-4006-30fe-ab6c-a7da48b0e36b","instanceIdentifier":"be581b59-3769-199a-7ea9-31f18a43d43c","name":"ConvertExcelToCSVProcessor","comments":"","position":{"x":-3328.0,"y":-736.0},"type":"org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"1.28.1"},"properties":{"excel-extract-first-row":"0","excel-extract-column-to-skip":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":";","Record Separator":"\\n","Escape Character":"\\","extract-sheets":null,"excel-format-values":"false","Null String":null,"Trim Fields":"true","Comment Marker":null,"excel-format-booleans":"true","Quote Mode":"NONE","Include Trailing Delimiter":"false"},"propertyDescriptors":{"excel-extract-first-row":{"name":"excel-extract-first-row","displayName":"Number of Rows to Skip","identifiesControllerService":false,"sensitive":false},"excel-extract-column-to-skip":{"name":"excel-extract-column-to-skip","displayName":"Columns To Skip","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"extract-sheets":{"name":"extract-sheets","displayName":"Sheets to Extract","identifiesControllerService":false,"sensitive":false},"excel-format-values":{"name":"excel-format-values","displayName":"Format Cell Values","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"excel-format-booleans":{"name":"excel-format-booleans","displayName":"Format Booleans","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","instanceIdentifier":"be581a90-3769-199a-324e-83bb51d8d98e","name":"EvaluateJsonPath","comments":"","position":{"x":76.81664495268387,"y":-619.4005068390327},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"numero_acte_deces":"$.numero_acte_deces","Destination":"flowfile-attribute","finess":"$.finess","Max String Length":"20 MB","taux":"$.taux","Return Type":"json","Null Value Representation":"empty string","mois_deces":"$.mois_deces","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"numero_acte_deces":{"name":"numero_acte_deces","displayName":"numero_acte_deces","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"finess":{"name":"finess","displayName":"finess","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"taux":{"name":"taux","displayName":"taux","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"mois_deces":{"name":"mois_deces","displayName":"mois_deces","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","instanceIdentifier":"be581a8a-3769-199a-9d83-803c3bf33d7e","name":"SplitJson","comments":"","position":{"x":-499.1833550473161,"y":-331.4005068390327},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"bc5efdf0-75b1-3f23-acfb-9f4f54009273","instanceIdentifier":"be581a95-3769-199a-a1d1-1759e5a40311","name":"GetFile","comments":"","position":{"x":-3312.0,"y":-952.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/data/satisfaction/2020/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"^resultats-esatisca-mco-open-data-2020\\.xlsx$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","instanceIdentifier":"be581a8d-3769-199a-86b6-7d71c8f3a075","name":"ReplaceText","comments":"","position":{"x":-2240.0,"y":-800.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"\"","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"80 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"21e1b23b-0049-3e25-8af3-5440bac4bc64","instanceIdentifier":"be581a94-3769-199a-9f0f-39352bc44b1c","name":"ConvertAvroToJSON","comments":"","position":{"x":-1096.0,"y":-440.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.28.1"},"properties":{"JSON container options":"array","Wrap Single Record":"true","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"2ff690fc-a00a-37b9-9542-dfbd290f8260","instanceIdentifier":"be581a91-3769-199a-b30a-eff57a4dbaf9","name":"SplitText","comments":"","position":{"x":-2680.0,"y":-808.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"5000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"ac2bd640-8c0e-300e-a1fc-64b8437db227","instanceIdentifier":"be581a8b-3769-199a-bc74-6c46a294a9c9","name":"UpdateRecord","comments":"","position":{"x":-2160.0,"y":-496.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"/taux":"${field.value:trim()}","record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","/finess":"${field.valie:trim()}","record-reader":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/taux":{"name":"/taux","displayName":"/taux","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/finess":{"name":"/finess","displayName":"/finess","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"c0afd8eb-d4c8-387e-b60f-7594b47dadbd","instanceIdentifier":"be581a8f-3769-199a-9498-60ccfb734f58","name":"ValidateRecord","comments":"","position":{"x":-1664.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"${schema.name}","record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","invalid-record-writer":null,"schema-registry":null,"coerce-types":"false","validation-details-attribute-name":"/Numero_acte_deces IS NOT NULL\n  AND /Age IS NOT NULL\n  AND /Mois_deces IS NOT NULL AND /Code_lieu_deces IS NOT NULL\n  AND /Anne_deces IS NOT NULL;\n","record-reader":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","maximum-validation-details-length":"1024","schema-access-strategy":"reader-schema","schema-text":"${avro.schema}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","invalid"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"4481e212-b3ec-3756-8425-36f750d6b89f","instanceIdentifier":"be581a8e-3769-199a-8437-6e7c9b23f37a","name":"ConvertRecord","comments":"","position":{"x":-1696.0,"y":-800.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","record-reader":"49d0a02e-ef92-3ddc-82df-aacb8c468f46","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"efa80681-0fad-3a28-b447-7e3a7f98e1dd","instanceIdentifier":"be581a89-3769-199a-c635-e9d0e24a6a93","name":"PutHiveQL","comments":"","position":{"x":436.8166449526839,"y":-43.40050683903269},"type":"org.apache.nifi.processors.hive.PutHiveQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"104b3a86-304b-395c-a41c-c5ce8ddbcdd7","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ecaf5b30-41ef-3f07-b951-af1167d803a3","instanceIdentifier":"be581aa0-3769-199a-7d55-c6bcf9bb3137","name":"","source":{"id":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"SplitJson","comments":"","instanceIdentifier":"be581a8a-3769-199a-9d83-803c3bf33d7e"},"destination":{"id":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"be581a90-3769-199a-324e-83bb51d8d98e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"7b25afbd-bc9e-338d-9635-95147d8f39fd","instanceIdentifier":"be581a9e-3769-199a-82f3-1d69a0610f4b","name":"","source":{"id":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"LogAttribute","comments":"","instanceIdentifier":"be581a8c-3769-199a-4b5a-d5bbf7c59c2a"},"destination":{"id":"72b01407-55ec-3f45-a574-18d8ab3e3081","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ReplaceText","comments":"","instanceIdentifier":"be581a93-3769-199a-7680-01f7ebafbac7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"c38b75b5-13e9-39f3-b7ea-962de33a77b9","instanceIdentifier":"be581aa1-3769-199a-6c83-27ee3b074d75","name":"","source":{"id":"72b01407-55ec-3f45-a574-18d8ab3e3081","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ReplaceText","comments":"","instanceIdentifier":"be581a93-3769-199a-7680-01f7ebafbac7"},"destination":{"id":"efa80681-0fad-3a28-b447-7e3a7f98e1dd","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"PutHiveQL","comments":"","instanceIdentifier":"be581a89-3769-199a-c635-e9d0e24a6a93"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"502d904f-1bc6-3711-b8f1-3298ad0e1910","instanceIdentifier":"be581a96-3769-199a-c526-b7619c0f9503","name":"","source":{"id":"2ff690fc-a00a-37b9-9542-dfbd290f8260","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"SplitText","comments":"","instanceIdentifier":"be581a91-3769-199a-b30a-eff57a4dbaf9"},"destination":{"id":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ReplaceText","comments":"","instanceIdentifier":"be581a8d-3769-199a-86b6-7d71c8f3a075"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"c182273c-33cd-3d38-b9a6-71e9802c7308","instanceIdentifier":"be581b5d-3769-199a-79b3-ade31feec572","name":"","source":{"id":"bc5efdf0-75b1-3f23-acfb-9f4f54009273","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"GetFile","comments":"","instanceIdentifier":"be581a95-3769-199a-a1d1-1759e5a40311"},"destination":{"id":"755d70f7-4006-30fe-ab6c-a7da48b0e36b","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ConvertExcelToCSVProcessor","comments":"","instanceIdentifier":"be581b59-3769-199a-7ea9-31f18a43d43c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"dddc14e9-c45c-388b-b346-090fe3f669b9","instanceIdentifier":"be581a99-3769-199a-1519-32854d964f2e","name":"","source":{"id":"ac2bd640-8c0e-300e-a1fc-64b8437db227","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"UpdateRecord","comments":"","instanceIdentifier":"be581a8b-3769-199a-bc74-6c46a294a9c9"},"destination":{"id":"c0afd8eb-d4c8-387e-b60f-7594b47dadbd","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ValidateRecord","comments":"","instanceIdentifier":"be581a8f-3769-199a-9498-60ccfb734f58"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"c5681d9c-f5e8-3e8d-8c70-193ec8cb8517","instanceIdentifier":"be581b5c-3769-199a-13be-a3453bc4f490","name":"","source":{"id":"8e7690a8-5ee4-375d-9f83-3a9e96ea9746","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ReplaceText","comments":"","instanceIdentifier":"be581a8d-3769-199a-86b6-7d71c8f3a075"},"destination":{"id":"4481e212-b3ec-3756-8425-36f750d6b89f","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ConvertRecord","comments":"","instanceIdentifier":"be581a8e-3769-199a-8437-6e7c9b23f37a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"62e368a2-e4ce-35a4-9e8d-ea73e0054f95","instanceIdentifier":"be581a9a-3769-199a-d43b-ff146c5fe135","name":"","source":{"id":"21e1b23b-0049-3e25-8af3-5440bac4bc64","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"be581a94-3769-199a-9f0f-39352bc44b1c"},"destination":{"id":"60b8b55a-dcf7-3095-9ecc-b604318cdf02","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"SplitJson","comments":"","instanceIdentifier":"be581a8a-3769-199a-9d83-803c3bf33d7e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"81eeb499-4285-3742-9466-55e5ae00a726","instanceIdentifier":"be581a9f-3769-199a-46c9-321bd46ac863","name":"","source":{"id":"4481e212-b3ec-3756-8425-36f750d6b89f","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ConvertRecord","comments":"","instanceIdentifier":"be581a8e-3769-199a-8437-6e7c9b23f37a"},"destination":{"id":"c4042c1a-2704-3952-8fd8-c78d159f921c","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"QueryRecord","comments":"","instanceIdentifier":"be581a92-3769-199a-8846-5cb2848d5ef9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"574c013f-5618-361b-8c4a-b565b8ae4ccd","instanceIdentifier":"be581a98-3769-199a-dec0-e9a196559cf6","name":"","source":{"id":"c4042c1a-2704-3952-8fd8-c78d159f921c","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"QueryRecord","comments":"","instanceIdentifier":"be581a92-3769-199a-8846-5cb2848d5ef9"},"destination":{"id":"ac2bd640-8c0e-300e-a1fc-64b8437db227","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"UpdateRecord","comments":"","instanceIdentifier":"be581a8b-3769-199a-bc74-6c46a294a9c9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["distinctQuery"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"a3e27c14-6ed9-37f1-a69c-6987dcb60c11","instanceIdentifier":"be581a97-3769-199a-1821-349d288e8b17","name":"","source":{"id":"c0afd8eb-d4c8-387e-b60f-7594b47dadbd","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ValidateRecord","comments":"","instanceIdentifier":"be581a8f-3769-199a-9498-60ccfb734f58"},"destination":{"id":"21e1b23b-0049-3e25-8af3-5440bac4bc64","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"be581a94-3769-199a-9f0f-39352bc44b1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"b4cdaf1d-69a6-3ab1-9f9c-1f31e0656ad3","instanceIdentifier":"be581b5e-3769-199a-46dd-3e2e1a8e7b6f","name":"","source":{"id":"755d70f7-4006-30fe-ab6c-a7da48b0e36b","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"ConvertExcelToCSVProcessor","comments":"","instanceIdentifier":"be581b59-3769-199a-7ea9-31f18a43d43c"},"destination":{"id":"2ff690fc-a00a-37b9-9542-dfbd290f8260","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"SplitText","comments":"","instanceIdentifier":"be581a91-3769-199a-b30a-eff57a4dbaf9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"c95baf85-111f-3a3b-b39e-e7cb8d4769a9","instanceIdentifier":"be581a9b-3769-199a-8550-5cfe853c4186","name":"","source":{"id":"c1cfa7fa-4b1e-3d8f-8a21-761a90965adb","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"be581a90-3769-199a-324e-83bb51d8d98e"},"destination":{"id":"a5b0ad4d-2696-392d-92bc-ab4f4562492a","type":"PROCESSOR","groupId":"26a6311a-6258-317a-b212-482abd693120","name":"LogAttribute","comments":"","instanceIdentifier":"be581a8c-3769-199a-4b5a-d5bbf7c59c2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"}],"labels":[{"identifier":"2debfcaf-3c33-33ae-84de-f727fbf037ce","instanceIdentifier":"be581a86-3769-199a-a492-fc5d32c45a07","position":{"x":-2760.0,"y":-920.0},"label":"Extract Tranform Load","zIndex":0,"width":1568.0,"height":632.0,"style":{"background-color":"#e2ffd6","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"040ffe0b-43e0-38e0-90cd-355417af919d","instanceIdentifier":"be581a88-3769-199a-d1a0-5dbd58a53220","position":{"x":-1744.0,"y":-840.0},"label":"Unicité des données","zIndex":0,"width":448.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"4f67d459-4b0e-3575-bdad-4e6799f9bdad","instanceIdentifier":"be581a84-3769-199a-5176-079c1d25f011","position":{"x":-2184.0,"y":-520.0},"label":"Normalisation ","zIndex":0,"width":392.0,"height":184.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"237a6eb2-6d92-32a0-a107-db96864d16b3","instanceIdentifier":"be581a83-3769-199a-6617-f05c874b018e","position":{"x":-1680.0,"y":-512.0},"label":"Vérification qualité ","zIndex":0,"width":400.0,"height":192.0,"style":{"background-color":"#d6fff5","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"0d8cf089-fc6a-3477-ac23-6c133070e2c6","instanceIdentifier":"be581a85-3769-199a-a073-2c75e6bf6afa","position":{"x":-3464.0,"y":-1032.0},"label":"Source Database: CSV","zIndex":0,"width":640.0,"height":472.0,"style":{"background-color":"#ffd6d8","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"7450020e-b5fd-340e-9d2f-315e5a5b1e3a","instanceIdentifier":"be581a87-3769-199a-ca3c-75f001d3e489","position":{"x":-1128.0,"y":-784.0},"label":"Entrepôt de données (processus pour récupérer les données JSON et les envoyer en requête SQL)","zIndex":0,"width":2296.0,"height":904.0,"style":{"background-color":"#d6f6ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"}],"funnels":[],"controllerServices":[{"identifier":"104b3a86-304b-395c-a41c-c5ce8ddbcdd7","instanceIdentifier":"be581a82-3769-199a-43ef-29b5eea6078b","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.28.1"},"properties":{"kerberos-credentials-service":null,"Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://hiveserver2:10000/default","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/opt/nifi/nifi-current/conf/hive-site.xml","hive-max-wait-time":"500 millis","hive-db-user":"hive"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"49d0a02e-ef92-3ddc-82df-aacb8c468f46","instanceIdentifier":"be581a80-3769-199a-6143-44f6c58e0bfb","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"08999aeb-e0e4-3fd6-ac86-12ab4283f5b8","instanceIdentifier":"be581a7f-3769-199a-aed3-e4207464d01a","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"},{"identifier":"0bc52dbb-f3e2-3771-84b7-3d8d3fd1f365","instanceIdentifier":"be581a81-3769-199a-b7ad-c8e107043bf6","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"26a6311a-6258-317a-b212-482abd693120"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}